Form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Courier;
  }

h1 {
    text-align: center;
    font-size: 10px;
}

.profile {
    margin-left: 650px;
    max-width: 500px;
    max-height: 500px;
}

.butt {
    margin: 0 auto;
}