Form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Impact;
  }

h1 {
    text-align: center;
}
